/* CSS Document */
.tableA input[type=text],input[type=password],select,textarea {
	padding: 7px;
	border: solid 1px #E5E5E5;
	margin-left: 10px;
	outline: 0;
	font: normal 11px/100% Verdana, Tahoma, sans-serif;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF) );
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
	width: 250px;
	max-width: 1000px;
	height: 60px;
	line-height: 150%;
}

input[type=text]:hover,input[type=password]:hover,select:hover,textarea:hover,input[type=text]:focus,input[type=password]:focus,select:focus,textarea:focus
	{
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

label {
	margin-left: 5px;
	color: #999999;
	size: portrait;
}

#ten_sp {
	width: 250px;
}