<?xml version="1.0" encoding="utf-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>ClothShopAdmin</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml
			/WEB-INF/applicationSecurity.xml
		</param-value>
	</context-param>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/**</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>products</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servlet-context/products-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>categories</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servlet-context/categories-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>manufacturers</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servlet-context/manufacturers-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>users</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servlet-context/users-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>comments</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servlet-context/comments-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>carts</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servlet-context/carts-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ads</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servlet-context/ads-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>reports</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servlet-context/reports-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>authentication</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/servlet-context/authentication-servlet.xml</param-value>
		</init-param>
	</servlet>



	<servlet-mapping>
		<servlet-name>authentication</servlet-name>
		<url-pattern>/authentication/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reports</servlet-name>
		<url-pattern>/reports/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ads</servlet-name>
		<url-pattern>/ads/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>comments</servlet-name>
		<url-pattern>/comments/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>products</servlet-name>
		<url-pattern>/products/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>categories</servlet-name>
		<url-pattern>/categories/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>manufacturers</servlet-name>
		<url-pattern>/manufacturers/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>users</servlet-name>
		<url-pattern>/users/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>carts</servlet-name>
		<url-pattern>/carts/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>__default/default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/__default/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/__default/error500.jsp</location>
	</error-page>
</web-app>
